<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Formulario criado por Joao Valente">
    <meta name="author" content="Joao Valente">
    <meta name="keywords" content="portfolio,programadores,devs,desenvolvedores">
    <link rel="stylesheet" href="style.css">
    <title>Portfólio</title>
</head>
<body>
    <header>
        <div class="headerContent">
            <h1 style="text-align: center;">Seja muito bem vindo(a)!</h1>
        <nav>
            <a href="#sobremim">Sobre mim</a>
            <a href="#historia">História</a>
            <a href="#objetivos">Objetivos</a>
            <a href="#projetos">Projetos</a>
            <a href="#habilidades">Habilidades</a>
        </nav>
        </div>
        
    </header>

    <main>
        <div id="sobremim">
            <div class="esquerda">
                <div class="foto"></div>
                <div class="sobre">
                    <h3>João Victor Valente Meneses</h3>
                    <h5 style="
                    text-align: center;">Desenvolvedor</h5>
                </div>
            </div>
            
            <div class="direita">
                <h3>Olá! Meu nome é João, tenho 19 anos e moro na Bahia</h3>
                <p style="margin:10px 0">Estudei Desenvolvimento de Sistemas no Senai e me considero uma pessoa apaixonada pela área da tecnologia, estou sempre disposto a aprender novas coisas e melhorar a cada dia!</p>
                <div class="knowmebutton">
                    <a href="#historia">Me conheça!</a>
                </div>
            </div>
        </div>
        <div id="historia">
            <div>
                <h2 style="text-align: center;">História</h2>
                <p>Eu sempre gostei bastante de temas relacionados a tecnologia, meu primeiro contato foi aos 4 anos, quando
                    meus pais me apresentaram o Adobe Photoshop, uma ferramenta de edição de fotos muito eficaz, desde 
                    então eu comecei a ir mais a fundo, tive aulas de informática, aprendi sobre a internet e os pacotes Office
                    e fui evoluindo a partir de então. 
                    <br><br>
                    Em 2022 eu vi uma oportunidade de me mergulhar mais nesse mundo tão vasto da tecnologia, quando me
                    ingressei no curso técnico de Análise e Desenvolvimento de Sistemas no Senai e logo quando entrei fiquei encantado,
                    aprendi Lógica da Programação em C e Desenvolvimento Web, aprendi várias linguagens (não só de programação), frameworks e técnicas de Design, aprendi a modelar
                    sistemas e bancos de dados e desde então fui me dedicando nesses assuntos.
                </p>
            </div>
        </div>
        <div id="objetivos">
            <div style="padding: 50px;">
                <h2 style="text-align: center;">Objetivos</h2>
                <ul style="margin: 30px 0;">
                    <li>Melhorar minhas habilidades em programação e Desenvolvimento Web, e utiliza-las para provar meu valor</li>
                    <li>Usar a  minha paixão pela tecnologia para conseguir oportunidades no mercado de trabalho</li>
                    <li>Estou sempre aberto a novos conhecimentos; Aprender é sempre bom!</li>
                </ul>
            </div>
        </div>
        <div id="projetos">
            <h1 style="text-align: center;">Projetos</h1>
            <div class="project-blocks">
                
                <h3>Formulário</h3>
                <div class="project-block">
                    <a target="_blank" href="https://github.com/jvalentem/Web_projects/tree/main/formulario">
                        <img src="./imagens/Formulario.png" alt="">
                    </a>
                </div>
            </div>
        </div>

        <div id="habilidades" style="padding: 20px;">
            <h2 style="text-align: center;">Habilidades</h2>
            <div class="tech-blocks">
                <a href="https://pt.wikipedia.org/wiki/HTML5" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/61/HTML5_logo_and_wordmark.svg/300px-HTML5_logo_and_wordmark.svg.png" alt="HTML5">
                </a>
                <a href="https://pt.wikipedia.org/wiki/CSS3" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d5/CSS3_logo_and_wordmark.svg/180px-CSS3_logo_and_wordmark.svg.png" alt="CSS3">
                </a>
                <a href="https://pt.wikipedia.org/wiki/JavaScript" target="_blank">
                    <img src="https://symbols.getvecta.com/stencil_25/41_javascript.0ca26ec4ab.svg" alt="JavaScript">
                </a>
                <a href="https://pt.wikipedia.org/wiki/Python" target="_blank">
                    <img src="./imagens/kisspng-angle-text-symbol-brand-other-python-5ab0c09b9ea1a7.3286927515215330836498.png" alt="Python">
                </a>
                <a href="https://pt.wikipedia.org/wiki/SQL" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/8/87/Sql_data_base_with_logo.png" alt="SQL" style="width: 200px;">
                </a>
                <a href="https://pt.wikipedia.org/wiki/Java_(linguagem_de_programação)" target="_blank">
                    <img src="https://www.imagensempng.com.br/wp-content/uploads/2023/05/078-1.png" alt="Java">
                </a>
                <a href="https://pt.wikipedia.org/wiki/Dart_(linguagem_de_programação)" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/7e/Dart-logo.png" alt="Dart">
                </a>
                <a href="https://pt.wikipedia.org/wiki/Flutter" target="_blank">
                    <img src="./imagens/Flutter.png" alt="Flutter">
                </a>
                <a href="https://pt.wikipedia.org/wiki/Microsoft_Word" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/8d/Microsoft_Word_2013-2019_logo.svg/881px-Microsoft_Word_2013-2019_logo.svg.png" alt="Word">
                </a>
                <a href="https://pt.wikipedia.org/wiki/Microsoft_PowerPoint" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/16/Microsoft_PowerPoint_2013-2019_logo.svg/915px-Microsoft_PowerPoint_2013-2019_logo.svg.png?20221202081054" alt="PowerPoint">
                </a>
                <a href="https://pt.wikipedia.org/wiki/Microsoft_Excel" target="_blank">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/73/Microsoft_Excel_2013-2019_logo.svg/881px-Microsoft_Excel_2013-2019_logo.svg.png?20221202081052" alt="Excel">
                </a>
                <a href="https://pt.wikipedia.org/wiki/Node.js" target="_blank">
                    <img src="./imagens/nodejs.png" alt="">
                </a>
            </div>
            
        </div>
    </main>
    <footer>
        <div>
            <nav>
                <a href="#sobremim">Sobre mim</a>
                <a href="#historia">História</a>
                <a href="#objetivos">Objetivos</a>
                <a href="#projetos">Projetos</a>
                <a href="#habilidades">Habilidades</a>
            </nav>
            <p style="text-align: center;">Desenhado e desenvolvido por <a href="https://www.linkedin.com/in/joao-victor-valente-meneses-a0721a228/">João Valente</a></p>
        </div>
    </footer>
    <script src="script.js"></script>
</body>
</html>